
@{
    ViewBag.Title = "Subscribe";
}
<!-- Display Subscription confirmation -->
<p>
    Your contact information has been submitted.<br />
    You will be contacted when the Division sends out special announcements concerning the @Session["project"]
</p>

