<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="dsn" value="******" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="env" value="test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add key="ContactContext" connectionString="DATA SOURCE=******;PASSWORD=confluence;USER ID=******" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </connectionStrings>
</configuration>
