
@{
    ViewBag.Title = "Error";
}
<!-- If Params have not been provided in URL -->
<h2>Error</h2>
<p>
    Parameters have not been provided for this page.<br />
    <!-- method can be either Comment or Subscribe -->
    <a href="http://mlw.dnratwnetdev.soa.alaska.gov/comments/Home?method=Comment&topicID=krpua_scope" target="_blank">Try Again</a>
</p>

